*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #f9fac0;
}

img{
    width: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
}

a{
    text-decoration: none;
    color: #019267;
}

i{
    margin: 0 10px;
    font-size: 2em;
    color: #FFD365;
}

span{
    color: #024935;
    font-style: italic;
}

/* Header */

header{
    display: flex;
    align-items: center;
    background-color: #212529;
    color: white;
}

header img{
    width: 50px;
    margin: 10px;
}

h1{
    color: #f7ebeb;
    font-size: 1.5em;
    font-weight: bold;
}

nav{
    display: flex;
    align-items: center;
}

ul{
    margin: 0 25px;
}

ul li{
    list-style-type: none;
    font-size: 1.2em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f7ebeb ;
    font-weight: 100;
}

.navbar-dark .navbar-nav a.nav-link:hover{
    text-shadow: 5px 5px 20px white;
    transition: .5s;
    color: #648f82;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: #019267;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    background-color: #019267;
    color: #FFD365;
    font-weight: bold;
}