*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

img{
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
    text-align: center;
}

h1{
    color: #f7ebeb;
    font-size: 1.5em;
    font-weight: bold;
}

h2{
    font-size: 3em;
    font-weight: bold;
}

h3{
    font-weight: bold;
}

p{
    margin-bottom: 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: #019267;
}

i{
    margin: 0 10px;
    font-size: 2em;
    color: #000;
}

span{
    color: #7cd4ab;
    font-style: italic;
}

/* Header */

header{
    display: flex;
    align-items: center;
    background-color: #212529;
    color: white;
    min-height: 11vh;
}

header img{
    width: 50px;
    margin: 10px;
}


nav{
    display: flex;
    align-items: center;
}

ul{
    margin: 0 25px;
}

ul li{
    list-style-type: none;
    font-size: 1.2em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f7ebeb ;
    font-weight: 100;
}

.navbar-dark .navbar-nav a.nav-link:hover{
    text-shadow: 5px 5px 20px white;
    transition: .5s;
    color: #648f82;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: #019267;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 22vh;
    background-color: transparent;
    font-weight: bold;
}

/* Index*/

main.index{
    min-height: 89vh;
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index p{
    text-align: justify;
}

footer.index{
    justify-content: inherit;
    position: absolute;
    text-align: center;
    top: 78vh;
    background-color: #fff;
    width: 40%;
    margin: 0 auto;
    left: 100px;
    right: 100px;
    min-height: 0;
    padding: 10px;
}

.nosotros{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 20px;
    margin: 60px auto;
    padding: 20px;
    width: 60%;
    height: 350px;
}

/* Layout */

.seccion-introductora{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    min-height: 40vh;
    margin: 50px auto;

}

/* Nosotros */

.gato-nosotros{
    margin: 0 auto;
    display: block;
}

.seccion-detalles{
    display: flex;
    width: 60%;
    margin: 50px auto;
}

.seccion-detalles__child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0 20px;
}

.seccion-detalles__img{
    width: 50%;
    object-fit: contain;
}

/* Servicios */

.servicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.servicio__card{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    min-width: 250px;
    margin: 10px;
}

.servicio__img{
    height: 240px;
    object-fit: cover;
}

/* Contacto */

.mi-formulario{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    background: linear-gradient(45deg, #a7e7f8 0%, #aef5b5 100%);
    padding: 4% 15%;
}

.send-form{
    width: 100px;
    margin: 20px auto;
}